%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container.px-4.px-lg-5
    %a.navbar-brand{href: "#!"} Start Bootstrap
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", href: "#!"} Home
        %li.nav-item
          %a.nav-link{href: "#!"} About
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"} Shop
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li
              %a.dropdown-item{href: "#!"} All Products
            %li
              %hr.dropdown-divider/
            %li
              %a.dropdown-item{href: "#!"} Popular Items
            %li
              %a.dropdown-item{href: "#!"} New Arrivals
      %form.d-flex
        %button.btn.btn-outline-dark{type: "submit"}
          %i.bi-cart-fill.me-1
          Cart
          %span.badge.bg-dark.text-white.ms-1.rounded-pill 0

%header.bg-dark.py-5
  .container.px-4.px-lg-5.my-5
    .text-center.text-white
      %h1.display-4.fw-bolder Shop in style
      %p.lead.fw-normal.text-white-50.mb-0 With this shop hompeage template
/ Section
%section.py-5
  .container.px-4.px-lg-5.mt-5
    .row
      = form_with url: "/home/index", method: :get do |form|
        .input-group.mb-3
          = form.text_field :keyword, { class: 'form-control', placeholder: "Product Name" }
          = form.submit "Search", class: 'btn btn-success'
    .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
      - @products.each_with_index do |product, _idx|
        .col.mb-5
          .card.h-100
            - if _idx % 2 == 0
              .badge.bg-dark.text-white.position-absolute{style: "top: 0.5rem; right: 0.5rem"} Sale
            / Product image
            %img.card-img-top{alt: "...", src: "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}/
            / Product details
            .card-body.p-4
              .text-center
                / Product name
                %h5.fw-bolder
                  = product.name
                / Product price
                %span.text-muted.text-decoration-line-through
                  = number_to_currency(product.price.to_f, precision: 2)
                = number_to_currency(product.price.to_f - rand(1..10), precision: 2)
            / Product actions
            .card-footer.p-4.pt-0.border-top-0.bg-transparent
              .text-center
                %a.btn.btn-outline-dark.mt-auto{href: "#"} Add to cart
/ Footer
%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white Copyright © Your Website 2023